
  <div class="each-suggestion">
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-plus-sign glyphicon-align-left" aria-hidden="true"></span>
    </button>
    <p>Restaurant: {{restaurant}}</p>
    <p>suggested by: {{name}}</p>
    <p>{{votes}}</p>
  </div>
