<div class="row">
  <div class="col-md-3">
    <div class="media">
      <div class='entries'>
        <div class='media-body'>
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus-sign glyphicon-align-left" aria-hidden="true"></span>
          </button>
          <p>Restaurant: {{restaurant}}</p>
          <p>suggested by: {{name}}</p>
          <p>{{votes}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
